<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269106253989-qraua0dnb2m245ci9v4884ldlp07nvgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269106253989-qraua0dnb2m245ci9v4884ldlp07nvgm</string>
	<key>API_KEY</key>
	<string>AIzaSyCmmehHOPy0_TnnQ_qi71bI_VbEY7rFxgk</string>
	<key>GCM_SENDER_ID</key>
	<string>269106253989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MiniProject</string>
	<key>PROJECT_ID</key>
	<string>miniproject-31b21</string>
	<key>STORAGE_BUCKET</key>
	<string>miniproject-31b21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:269106253989:ios:3281b6d0d06503dc533d4c</string>
	<key>DATABASE_URL</key>
	<string>https://miniproject-31b21.firebaseio.com</string>
</dict>
</plist>
